[Unit]
Description=Polaris Hub (FastAPI)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/sutej/polaris-hub/master
Environment=POLARIS_PORT=3030
Environment=AUTH_USER=sutej
Environment=AUTH_PASS=CityStar_8970
Environment=SESSION_SECRET=daf29fff29cbff401f7b2612b75db24e5af7a00cc829a6964b5c860c95dd22e0
Environment=SESSION_SECRET=daf29fff29cbff401f7b2612b75db24e5af7a00cc829a6964b5c860c95dd22e0
Environment=POLARIS_PROJECTS_DIR=/home/sutej/Projects
ExecStart=/home/sutej/polaris-hub/master/.venv-staging/bin/python /home/sutej/polaris-hub/master/app_new.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
