AUTH_USER=sutej
AUTH_PASS=dell1564
BIND_IP=100.116.47.43
PORT=3030
SESSION_SECRET=CHANGE_ME_64_RANDOM_CHARS
SESSION_EXPIRY_DAYS=7
COOKIE_SECURE=false
OPTIPLEX_IP=100.116.47.43
WYSE_IP=100.119.157.55
WYSE_AGENT_PORT=8001
